@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Kanit:400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap');

* {
    box-sizing: border-box;
    text-stroke: 1px black;
    -webkit-text-stroke: 1px black;
}

html {
    /* background-color: grey; */
    font-family: 'Kanit', sans-serif;
    /* font-family: 'Paytone One', sans-serif; */
    font-weight: 1000;
    color:white;
    background-color: black;
}

#root {
    height: 100%;
    /* overflow: hidden; */
}

.row {
    display: flex;
}

.box {
    display: inline-block;
    position: relative;
    width: 42px;
    height: 26px;
    /* background-color: white; */
    text-align: center;
    border: solid 6px black;
    font-size: 16px;
    line-height: 16px;
    /* letter-spacing: -2px; */
}

.immuneImg {
    position: absolute;
    width: 42px;
    height: 26px;
    left: -4px;
    top: -4px;
    /* overflow: hidden; */
}
.leftSide {
    display: flex;
}
.rightSide {
    display: flex;
    flex-direction: row-reverse;
}
.immune {
    background-color: black;
    color: red;
    order: -30;
}

.weak {
    background-color: black;
    order: -20;
}


.super {
    order: -10;
}
.dom {
    order: -5;
}

.arrow {
    font-size: 30px;
    line-height: 14px;
}

.credit {
    margin-left: 10px;
}
/* table {
    display: none;
}
.placeholder {
    z-index: -100;
    position: relative;
    padding: 4px 0 0 0;
    height: 40px;
}

.arrow {
    font-style: bold;
    font-size: 30px;
}
span {
    display: inline-block;
    width: 48px;
    height: 100%;
    text-align: center;
    padding: 1px 0 0 0;
}

.middle {
    font-family: 'Kanit', sans-serif;
    font-family: 'Paytone One', sans-serif;
    text-align: center;
    text-stroke: 3px black;
    -webkit-text-stroke: 1px black;
}

img {
    position: absolute;

    left: -6px;
    top: -6px;
}

.immune {
    border: solid 2px rgb(0, 0, 0);
    position: relative;
}
svg {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
}

div {
    white-space: nowrap;
    height: 40px;
}

.credit {
    text-stroke: 0px white;
    -webkit-text-stroke: 0px white;
} */
